.castelo {
    padding-block: 228px 300px;

    & h1 {
        color: var(--text-title);
        font: var(--title-sm);
    }
    
    & h2 {
        font: var(--subtitle);
        
    }
}

.kit {
    display: flex;
    align-items: center;
    justify-content: center;
}


.castelo {
    padding-block: 228px 200px;

    & h1 {
        color: var(--text-title);
        font: var(--title-sm);
    }
    
    & h2 {
        font: var(--subtitle);
        }
}

.kit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Book {
    padding: 10px 640px 169px 473px;

    & h2 {
        font: var(--subtitle);
        transition: all 400ms;
        }

   img[src*="book"] {
    width: 467px;
    height: 617px;
    position: absolute;
    z-index: 1;
    transition: all 400ms;
}
& img[src*="bookmark-yellow"] {
    width: 172px;
    height: 536px;
    position: relative;
    z-index: -1;
    top: 20px;
    left: 300px;
    transition: all 400ms;
}

& img[src*="bookmark-purple"] {
    width: 172px;
    height: 536px;
    position: relative;
    z-index: -2;
    top: 20px;
    left: 120px;
    transition: all 400ms;
}

& img[src*="arrow (1)"] {
   position: relative;
   z-index: -1;
   bottom: 420px;
   left: 400px;
   transition: all 400ms;
}

& img[src*="arrow (2)"] {
    position: relative;
    z-index: -1;
    top: 20px;
    right: 50px;
    transition: all 400ms;
 }

 & img[src*="arrow (3)"] {
    position: relative;
    z-index: -1;
    bottom: 250px;
    left: 50px;
    transition: all 400ms;
 }

 & img[src*="pin"] {
   width: 222px;
   height: 254px;
   position: relative;
   z-index: -1;
   right: 80px;
   bottom: 190px;
   transition: all 400ms;
 }

& h2:nth-child(1) {
  position: relative;
  top: 40px;
  left: 33px;
  z-index: -1;
  transition: all 400ms;
}


&:hover {
    & img[src*="bookmark-yellow"] {
       transform: translate(119px, -100px) rotate(15deg);
    }
    & img[src*="bookmark-purple"] {
        transform: translate(238px, 1px) rotate(26deg);
    }
    & img[src*="arrow (1)"] {
        transform: translate(-360px, -114px);
     }
     & img[src*="pin"] {
        transform: translate(-160px, 60px);
     }
    & h2:nth-child(1) {
        transform: translate(-350px, -90px);
    }

    & img[src*="arrow (2)"] {
        transform: translate(177px, 130px);
    }

    & img[src*="arrow (3)"] {
        transform: translate(-212px, -100px);
    }
     
    & h2:nth-child(7) {
        transform: translate(340px, 158px);
    }
    & h2:nth-child(8) {
        transform: translate(-290px, -240px);
    }
    }
}
